
       <hr class="featurette-divider">

       <footer>
           <p class="pull-right"></p>
           <address>
               <strong>N-Blog</strong><br>
           </address>
           <p>&copy; 2015 09 17 happy虫</p>
       </footer>