<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/bootstrap-3.3.5/dist/css/bootstrap.min.css">
</head>
<body>
<% include _include_/header %>
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>

<% include _include_/footer.ejs %>
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.js"></script>
<script src="/bootstrap-3.3.5/dist/js/bootstrap.js"></script>
</body>
</html>
